<div class="container">
  <mat-card>
    <img mat-card-img src="{{ url }}" />
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>Price: {{ data.price | currency }}</mat-card-subtitle>
    <mat-card-content> {{ data.description }} </mat-card-content>
    <mat-form-field
      class="cart-form"
      appearance="outline"
      (ngSubmit)="addToCart($event)"
    >
      <mat-label>QTY: </mat-label>
      <input #quantity name="quantity" matInput placeholder="QTY" />
    </mat-form-field>
    <button
      type="submit"
      (click)="addToCart(quantity.value, data)"
      mat-raised-button
      color="primary"
    >
      Add To Cart
    </button>
  </mat-card>
</div>
