.top-nav {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.container {
  padding: 0 2.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

h1 {
  color: #3f51b5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
